@charset "utf-8";
.review_box{
    width: 100%;
    height: 40px;
    background-color: rgb(230,230,230);
    font-size: 14px;
    position: relative;
    overflow: hidden;
    margin-top: 20px;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 10px;
}
.review_box > span{
    width: 45px;
    height: 20px;
    border-radius: 45px;
    background-color: rgb(127,127,127);
    color: white;
    line-height: 15px;
    text-align: center;
    position: absolute;
    right: 10px;
    top: 10px;
}
.review_btn{
    background-image: url(./intro/more.svg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 45px;
    height: 20px;
    margin: auto;
}
.review_box > div{
    width: 60px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    position: absolute;
    top: 0;
    left: 10px;
}
.review_ul{
    width: 100%;
    height: 40px;
    text-align: center;
    line-height: 40px;
    position: absolute;
    top: 0;
    left: 0;
}
.review_ul > li{
    height: 40px;
}
.intro1{
    width: 100%;
    height: 150px;
    background-image: url(./intro/intro_01.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.intro2{
    width: 100%;
    height: 50px;
    
}
.intro2 > li{    
    width: 20%;
    height: 50px;
    float: left;
    line-height: 50px;
    margin-top: 10px;
}

.intro2 > li:nth-of-type(1) > div{
    background-image: url(./intro/intro_02.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 50px;
    height: 50px;
    margin: auto;
    border-radius: 50px;
}
.intro2 > li:nth-of-type(2) > div{
    background-image: url(./intro/intro_03.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin: auto;
}
.intro2 > li:nth-of-type(3) > div{
    background-image: url(./intro/intro_04.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin: auto;
}
.intro2 > li:nth-of-type(4) > div{
    background-image: url(./intro/intro_05.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin: auto;
}
.intro2 > li:nth-of-type(5) > div{
    background-image: url(./intro/intro_06.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin: auto;
}